body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background: #020b10;
  color: #cfe8ef;
}

/* GRID BACKGROUND */
body::before {
  content: "";
  position: fixed;
  width: 100%;
  height: 100%;
  background-image:
    linear-gradient(rgba(0, 255, 200, 0.05) 1px, transparent 1px),
    linear-gradient(90deg, rgba(0, 255, 200, 0.05) 1px, transparent 1px);
  background-size: 50px 50px;
  z-index: -1;
}

.container {
  padding: 40px 80px;
}

/* HEADER */
.sub {
  color: #00f5d4;
  letter-spacing: 4px;
  font-size: 12px;
}

h1 {
  font-size: 80px;
  margin: 10px 0;
}

h1 span {
  color: #00f5d4;
  text-shadow: 0 0 25px #00f5d4;
}

/* FORM */
.form-box {
  border: 1px solid rgba(0, 255, 200, 0.3);
  margin-top: 30px;
}

.form-header {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  border-bottom: 1px solid rgba(0, 255, 200, 0.2);
}

.form-body {
  display: grid;
  grid-template-columns: 1fr 1fr auto;
}

.form-body input {
  padding: 20px;
  background: transparent;
  border: 1px solid rgba(0, 255, 200, 0.2);
  color: white;
}

.form-body button {
  background: transparent;
  border: 1px solid rgba(0, 255, 200, 0.4);
  color: #00f5d4;
  font-weight: bold;
  cursor: pointer;
}

/* STATS */
.stats {
  display: flex;
  margin-top: 30px;
}

.stats div {
  flex: 1;
  border: 1px solid rgba(0, 255, 200, 0.2);
  padding: 25px;
}

.stats h2 {
  color: #00f5d4;
  font-size: 50px;
}

/* TABLE */
.table {
  margin-top: 30px;
  border: 1px solid rgba(0, 255, 200, 0.2);
}

.table-header,
.row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 20px;
  border-bottom: 1px solid rgba(0, 255, 200, 0.1);
}

.score {
  color: #ffd166;
  font-weight: bold;
}

.pass {
  color: #00ff88;
}

.fail {
  color: #ff4d6d;
}

/* INPUT UPDATE */
.update-box input {
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 8px;
  color: white;
  width: 60px;
}

.update-box button {
  margin-left: 10px;
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: white;
  padding: 8px 12px;
}